@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
font-family: "Blacksword";
src: url("Blacksword.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover {
	opacity: 1;
}

a.btn {
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr {
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


::selection {
  background-color: tomato;
}

::-moz-selection { /* Code for Firefox */
    background-color: tomato
}

/*------------
      Header
------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*----------------
 	Hero Section
----------------*/

.hero {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .bg-img {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url(img/3.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;

 /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

.hero .bg-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a647b;
  opacity: 0.65;
}

.hero h1 {
  color: white;
  font-size: 6vw;
  font-family: 'Blacksword', sans-serif;
  text-align: center;
  opacity: 0.87;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
  text-shadow: 1px 1px 1px #ff6161;
  cursor: default;
  animation: tracking-in-expand 1s;
  z-index: 5;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*section h6 {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  opacity: 0.87;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: 100%;
  text-shadow: 1px 1px 1px #ff6161;
  cursor: default;
}*/

/*--------------------
 	Our Work Section
---------------------*/

.about {
	display: flex;
	flex-direction: column;
	align-items: center;

	/*padding: 125px 100px;*/
}

.about{
	background-color: #fff;
}

.about .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
/*	background-color: #333;*/
}

/*.about .grid li:nth-child(even) {
	height: 50px;
}*/

.about .grid li.small{
	flex-basis: 40%;

}

.about .grid li.large{
	flex-basis: 60%;

}


@media (max-width: 1000px){

	.about .grid li.small,
	.about .grid li.large{
		flex-basis: 100%;
	}

}

/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}

/*--------*/

.geo {
  margin-top: 6vw;
}

.social-media {
  position: relative;
  text-align: center;
  top: 65%;
}

.fa {
    padding: 30px;
    font-size: 25px !important;
    width: 85px;
    text-align: center;
		text-decoration: none;
		transition: background 0.5s;
}

/*.fa:hover {
    background: rgb(238, 238, 238);
    transition: background 0.5s;
}*/

.fa-facebook {
    background: #F2F2F233;
    color: white;
    transition: background 1s;
    animation: slide-bottom 1s;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 8vw !important;
  }
  .geo {
    margin-top: 8vw !important;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 10vw !important;
  }
  .geo {
    margin-top: 10vw !important;
  }
}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #404649;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}